@font-face {
    font-family: "Gilroy";
    font-display: swap;
    font-style: normal;
    font-weight: 800;
    src: url("./Gilroy-ExtraBold.woff2")
        format("woff2"),
        url("./Gilroy-ExtraBold.woff") format("woff");
    unicode-range: U+0020-007F;
}

@font-face {
    font-family: "Inter";
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url("./Inter-Regular.woff2")
        format("woff2"),
        url("./Inter-Regular.woff") format("woff");
    unicode-range: U+0020-007F;
}

.fonts-loaded-1 body {
    font-family: "Gilroy";
}
.fonts-loaded-2 body {
    font-family: "Inter";
}